# Override etcd default settings.
[Service]
Environment="DAEMON_ARGS= \
    --initial-advertise-peer-urls http://{{ ts_ipv4.stdout }}:2380 \
    --initial-cluster etcd1=http://100.123.11.32:2380,etcd2=http://100.101.239.90:2380,etcd3=http://100.72.33.44:2380 \
    --initial-cluster-token token \
    --initial-cluster-state new \
    --advertise-client-urls http://{{ ts_ipv4.stdout }}:2379 \
    --listen-client-urls http://0.0.0.0:2379 \
    --listen-peer-urls http://0.0.0.0:2380 \
"