# Override etcd default settings.
[Service]
Environment="DAEMON_ARGS= \
    --initial-advertise-peer-urls http://{{ ts_ipv4.stdout }}:2380 \
    --initial-cluster {% for host in groups['etcd'] %}{{ hostvars[host]['ansible_facts']['hostname'] }}=http://{{ hostvars[host]['ts_ipv4'].stdout }}:2380{% if not loop.last %},{% endif %}{% endfor %} \
    --initial-cluster-token token \
    --initial-cluster-state new \
    --advertise-client-urls http://{{ ts_ipv4.stdout }}:2379 \
    --listen-client-urls http://0.0.0.0:2379 \
    --listen-peer-urls http://0.0.0.0:2380 \
"